torch>=1.5.0
texar-pytorch>=0.1.1
faiss-cpu>=1.6.1
git+https://git@github.com/asyml/forte-wrappers.git#egg=fortex.nltk&subdirectory=src/nltk
git+https://git@github.com/asyml/forte-wrappers.git#egg=fortex.elastic&subdirectory=src/elastic
git+https://git@github.com/asyml/forte-wrappers.git#egg=fortex.allennlp&subdirectory=src/allennlp
git+https://git@github.com/asyml/forte-wrappers.git#egg=fortex.spacy&subdirectory=src/spacy
ddt
